# База данных MySQL
DB_HOST=188.225.74.58
DB_USER=gen_user
DB_PASSWORD=changeme
DB_NAME=accounts
DB_TABLE=users

# Telegram уведомления об ошибках
TELEGRAM_TOKEN=changeme
TELEGRAM_CHAT_ID=changeme

# Капча
CAPTCHA_KEY=changeme
